@charset "UTF-8";

/* 回答はここに書いてね */
.text {
  width: 205px;
  font-size: 16px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.float-box {
  float: left;
  margin-left: 50px;
}

.float-box:first-child {
  margin-left: 0;
}

.main-table {
  display: table;
}

.side-table {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.side-table:first-child {
  padding-left: 0;
}

.inline-box {
  font-size: 0;
}

.text-inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.text-inline:first-child {
  margin-left: 0;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7-box {
  font-size: 0;
}

.margin-box {
  display: inline-block;
  vertical-align: top;
}

.box-left {
  width: 300px;
}

.box-right {
  width : 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7-text {
  font-size: 16px;
}
/* 回答はここに書いてね */
