@charset "UTF-8";

/* 回答はここに書いてね */
.box-table{
  background-color: #eff3f4;
  margin: 0 auto;
  padding: 20px;
}

.text{
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: table-cell;
}

.table{
  width: 100%;
  box-sizing: border-box;
  display: table;
  margin-top: 20px;
}

.table:first-child{
  margin-top: 0;
}

.orange{
  background-color: #fdc8b8;
  width: 100px;
}

.purple{
  background-color: #e0abd9;
}

.blue{
  background-color: #b6d8ed;
  width: 100px;
}

.yellow{
  background-color: #e5d32e;
}

.red{
  background-color: #ec8f9a;
}

.green{
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
