@charset "UTF-8";

/* 回答はここに書いてね */
table.food{
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table tr:nth-child(odd){
	background: #ecf1f2;
}

table th, table td{
  border: solid 1px #dedede;
  padding: 10px;
}

table th{
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

table td{
  font-size: 16px;
  line-height: 22px;
}

table tr:last-child{
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
